
#search > form {
    display: inline-flex;
    width: 708px;
    height: 60px;
    border: 1px solid #03c75a;
    border-radius: 33px;
    text-align: left;
}

#search > form:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}


#search-svg {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    margin-right: 12px;
    height: 100%;
    padding-left: 10px;
}

#search-svg::after {
    /* 공부 */
    display: none;
}

#search > form:focus-within #search-svg::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 1px;
    height: 20px;
    background-color: #e4e4e4;
    right: 0;
    top: 20px;
}

#search-svg svg{
    width: 24px;
    height: 24px;
    fill: #03c75a;
}

#search-input {
    width: 480px;
    padding: 17px 0;
    font-size: 2rem;
    line-height: 24px;
    font-weight: bold;
    border: none;
    outline: 0;
}

#search-input::placeholder {
    color: white;
}

#search-input:focus::placeholder {
    font-weight: normal;
    color: #e4e4e4
}

#search-right {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;  
}

#search-keyboard, #search-recent, #search-button {
    background: transparent;
    border: none;
    cursor: pointer;
}


#search-keyboard::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.8d370390.png);
    background-size: 422px 405px;
    background-position: -270px -234px;
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
}

#search-keyboard:hover::before {
    /* 공부 */
    filter: brightness(0.7);
}

#search-recent::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.8d370390.png);
    background-size: 422px 405px;
    background-position: -412px -339px;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
}
#search-button {
    padding: 17px 27px 16px 10px;
}
#search-button > div {
    /* background: #03c75a; */
    width: 25px;
    height: 25px;
}

#search-button > div::before {
    content: "";
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.8d370390.png);
    background-size: 422px 405px;
    background-position: -364px -132px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}